@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500&display=swap");

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  -moz-box-sizing:border-box ;
  -webkit-box-sizing: border-box;
}

/*GENERALES*/
.container {
  width: 100%;
  height: auto;
  padding-top: 10%;
  border: #000000 1px solid;
}

p {
  font-family: 'IBM Plex Mono', monospace;
  text-align: justify;
  font-size: 0.875em;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2.25em;
  color: #060A24;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0;
}

.button {
  height:3em;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: 1em;
  background-color: #00F3BB;
  letter-spacing: 0;
  text-align: center;
  border: none;
}

.button a {
  text-decoration: none;
  color: #060A24;
}

button:hover {
  color :#FFFFFF;
  background: #00F0B8; 
  background: -webkit-linear-gradient(to left, #0000FE, #00F0B8);
  background: linear-gradient(to left, #0000FE, #00F0B8); 
}

h2{
  color: #000000;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2.25em;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 400;
  font-size: 40px;
}

h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.5em;
  color: #060A24;
  font-weight: 500;
  letter-spacing: 0;
  text-align: center;
}

/*HEADER*/
header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 5%;
  border: #000000 1px solid;
  /*background-color: #FFFFFF;
  z-index: 1;*/
}

header .logo {
  width: 24px;
}

header .menu-btn {
  display: none;
}

header nav .menu ul {
  width: 100%;
  position: absolute;
  right: 0;
  overflow: hidden;
  list-style: none;
  background: #0000EC;
  height: 0px;
  top: 44px;
  border: #000000 1px solid;
}

li a {
  display: block;
  margin: 24px;
  font-family: 'IBM Plex Mono', monospace;
  color: #FFFFFF ;
  line-height: 28px;
  font-size: 1em;
  text-decoration: none;
}

 li a:active  {
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
}

header nav .menu .menu-btn:checked ~ ul {
  height: auto;
  transition: flex-basis 500ms ease-in-out;
}

#menu-btn:checked + label #bars{
  display: none;
  transition: flex-basis 500ms ease-in-out;
}
#menu-btn:not(:checked) + label #cross{
  display: none;
  transition: flex-basis 500ms ease-in-out;
}

/*HOME*/
#home  {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border: #000000 1px solid;
}


#home h1 {
  width: 80%;
  margin: 5%;
  padding-top: 5%;
  border: #000000 1px solid;
}

#home p {
  margin: 5%;
  border: #000000 1px solid;
}

#home #pweb {
  display: none;
}


#home #dot {
  color:#060A24;
}

#spanWorld{
  text-decoration: line-through;
}

#home .button{
  width: 90%;
  margin: 5% ;
}

/*EPISODIES*/
#episodies {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
 -webkit-transform: skewY(-6deg);
 -ms-transform: skewY(-6deg);
  transform: skewY(-6deg);
  margin-top: 5%;
}

#episodies>* {
  -webkit-transform: skewY(6deg);
  -ms-transform: skewY(6deg);
  transform: skewY(6deg);
}

#episodies .tittleEpisodes {
  width: 100%;
  border: #000000 1px solid;
}

#episodies h2 {
  margin: 5%;
  padding-top: 5%;
  color: #FFFFFF;
  border: #000000 1px solid;
}

.frames {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  /*margin: 10%;*/
  margin: 10% 10% 30% 10%
}

.iframe {
    width: 90%;
    height: 232px;
    margin: 4% 0% 0% 4%;
    border: none;
}

/*ABOUT AS*/
#about_us .container  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: #000000 1px solid;
}

#about_us h2 {
  width: 80%;
  margin: 5%;
  padding-top: 5%;
  border: #000000 1px solid;
}

#about_us p {
  margin: 5%;
  border: #000000 1px solid;
}

.img {
  width: 90%;
  position: relative;
  margin: -33% 0% 0% 5%;
}

/*GUESTS*/


/*TOPICS*/

#topics .container  {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: #000000 1px solid;
}

#topics h2 {
  margin: 5%;
  padding-top: 5%;
  border: #000000 1px solid;
}

#topics h3 {
  margin: 3%;
  padding-top: 3%;
  border: #000000 1px solid;
}

#topics .topic_icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}


/*MEDIAQUERIES*/
/*TABLET*/
@media (min-width: 768px) {

  /*HOME*/
  #home h1 {
    margin: 0% 0% 0% 10%;
    padding-top: 0%;
    border:red 1px solid;
  }

  #home p {
    margin: 2% 0% 0% 10%;
    border: red 1px solid;
    width: 70%;
  }

  #home #pmobile {
    display: none;
  }

  #home #pweb {
     display: block;
  }
  
  #home #dot {
    color:#0000EC;
  }
  
  #home .button {
    margin: 3% 0% 0% 10%;
    width: 30%;
  }

   /*EPISODIES*/
   #episodies h2 {
    font-size: 3em;
    margin: 0% 0% 0% 10%;
    border:white 1px solid;
  }

  #episodies .container {
    padding-top: 5%;
  }

  .frames {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    justify-content: center;
    margin: 0% 3% 10% 3%;
  }

  .iframe {
    margin: 10% 0% 0% 4%;
  }

  /*ABOUT AS*/

  #about_us .container {
    display: flex;
    flex-direction: row;
    border: #000000 1px solid;
    padding-top: 2%;
  }

  .img {
    width: 40%;
    height: 40%;
    position: relative;
    margin: -11% 0% 0% 5%;
    border: #000000 1px solid;
  }

  #about_us h2 {
    margin: 7%;
    font-size: 3em;
    border: #000000 1px solid;
  }

  #about_us p {
    width: 75%;
    margin: 7%;
    border: #000000 1px solid;
    font-size: 1em;
    line-height: 24px;
  }

  #information_about_us{
    margin: 0% 0% 0% 5%;
    width: 100%;
    border: #000000 1px solid;
  }
  
}

/*DESKTOP*/
@media (min-width: 1220px) {
  
  /*HEADER*/
  header nav .menu .menu-icon {
    display: none;
  }

  header nav .menu ul {
    position: relative;
    overflow: hidden;
    align-items: flex-end;
    background: unset;
    height: unset;
    top: 0;
  }

  header nav .menu  ul li {
    padding: 5px 10px;
    display: inline-block;
  } 

  li a {
    padding: 5px 10px;
    color: #060A24; 
  }

  li a:hover{
    text-decoration: line-through;
    color: #00F3BB ;
  }

  li a:active{
    text-decoration: line-through;
    color: rgba(6,10,36,0.56);
  }

  header .logo {
    width: 36px;
  }
  
  h2 {
    font-size: 3em;
  }

  /*HOME*/
  #home h1 {
    font-size: 4em;
    margin: 10% 0% 0% 15%;
    border:blue 1px solid;
  }

  #home p {
    margin: 2% 0% 0% 15%;
    border: blue 1px solid;
    width: 45%;
  }

  #home #pmobile {
    display: none;
  }

  #home #pweb {
    display: block;
  }
  
  #home #dot {
    color:#0000EC;
  }
  #home .button {
    margin: 3% 0% 0% 15%;
    width: 20%;
  }

  /*EPISODIES*/
  #episodies h2 {
    margin: 0% 0% 0% 15%;
    border:white 1px solid;
  }
  #episodies .container {
    padding-top: 5%;
  }

 .frames {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    justify-content: center;
    margin: 0% 3% 10% 3%;
  }

  .iframe {
    margin: 10% 0% 0% 4%;
  }



/*ABOUT AS*/

  #about_us .container {
    display: flex;
    flex-direction: row;
    border: #000000 1px solid;
    padding-top: 2%;
  }

  .img {
    width: 30%;
    height: 660px;
    position: relative;
    margin: -10% 0% 0% 11%;
    border: #000000 1px solid;
  }

  #about_us h2 {
    margin: 7%;
    border: #000000 1px solid;
  }

  #about_us p {
    width: 75%;
    margin: 7%;
    border: #000000 1px solid;
    font-size: 1em;
    line-height: 24px;
  }

  #information_about_us{
    margin: 0% 0% 0% 10%;
    width: 100%;
    border: #000000 1px solid;
  }

  /*TOPICS*/
  #topics h2 {
    margin: 0% 0% 0% 15%;
    border: #000000 1px solid;
  }

  #topics .topic_icons {
    display: flex;
    flex-direction: row;
    margin: 5% 16% 0% 16%;
    border: #000000 1px solid;
  }

  #topics h3 {
    margin:5%;
    padding-top: 5%;
    border: #000000 1px solid;
  }

}

