@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500&display=swap");

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  -moz-box-sizing:border-box ;
  -webkit-box-sizing: border-box;
}

header {
  border: 1px #000000 solid;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 5%;
 
}


header .logo {
  width: 24px;
}

header .menu-btn {
  display: none;
}

header nav .menu ul {
  width: 100%;
  position: absolute;
  right: 0;
  overflow: hidden;
  list-style: none;
  background: #0000EC;
  height: 0px;
  border: 1px #000000 solid;
  top: 44px;
}

li a {
  display: block;
  margin: 24px;
  font-family: 'IBM Plex Mono', monospace;
  color: #FFFFFF ;
  line-height: 28px;
  font-size: 1em;
  text-decoration: none;
}

 li a:active  {
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
}

header nav .menu .menu-btn:checked ~ ul {
  height: auto;
  transition: flex-basis 500ms ease-in-out;
}

#menu-btn:checked + label #bars{
  display: none;
  transition: flex-basis 500ms ease-in-out;
}
#menu-btn:not(:checked) + label #cross{
  display: none;
  transition: flex-basis 500ms ease-in-out;
}


@media (min-width: 768px) {
  
  
}

@media (min-width: 1200px) {
  
  header nav .menu .menu-icon {
    display: none;
  }

  header nav .menu ul {
    position: relative;
    overflow: hidden;
    background: unset;
    height: unset;
    top: 0;
  }

  header nav .menu  ul li {
    padding: 5px 10px;
    display: inline-block;
  } 

  li a {
    padding: 5px 10px;
    color: #060A24; 
  }

  li a:hover{
    text-decoration: line-through;
    color: #00F3BB ;
  }

  li a:active{
    text-decoration: line-through;
    color: rgba(6,10,36,0.56);
  }

  header .logo {
    width: 36px;
  }
  
}
